.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 5px #d3a83a solid;
  border-radius: 5px;
  cursor: pointer;
}

h3 {
  margin: 10px;
}

.pokemon-card-img {
  width: 70%;
}

.pokemon-details-img {
  width: 40%;
  z-index: 1;
  position: relative;
}

.pokemon-type {
  width: 40%;
  margin: 3%;
}

.pokemon-name-title {
  font-size: 300px;
  z-index: -1;
  position: relative;
  top: -350px;
  color: rgb(1, 104, 1, 0.8);
}

button {
  min-width: 125px;
  padding: 5px;
  border: gray 1px solid;
  border-radius: 3px;
  background-color: #344055;
  color: white;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #424e63;
}
