* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #f0e6f7;*/
  background-color: rgb(137, 242, 121, 0.5);
}

.container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.nav-container {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav-container > h1 {
  margin-left: 20px;
}

.router-link {
  text-decoration: none;
  color: black;
}
